


{% extends "layer.html" %}
{% block body %}
    <div>
        <h2>Select the tipe of pokemon to check</h2>
        <a href="{{'/pokemon/bytype/electric'}}">ELECTRIC</a>
        <br>
        <a href="{{'/pokemon/bytype/poison'}}">Poison</a>
        <br>
        <a href="{{'/pokemon/bytype/grass'}}">Grass</a>
        <br>
        <a href="{{'/pokemon/bytype/flying'}}">Flying</a>
        <br>
        <a href="{{'/pokemon/bytype/fire'}}">Fire</a>
        <br>
        <a href="{{'/pokemon/bytype/bug'}}">Bug</a>
        <br>
        <a href="{{'/pokemon/bytype/ground'}}">Ground</a>
        <br>
        <a href="{{'/pokemon/bytype/normal'}}">Normal</a>
        <br>
        <a href="{{'/pokemon/bytype/water'}}">Water</a>
        <br>
        <a href="{{'/pokemon/bytype/rock'}}">rock</a>
        <br>
        <a href="{{'/pokemon/bytype/ghost'}}">Ghost</a>
        <br>
        <a href="{{'/pokemon/bytype/psychic'}}">Psychic</a>
        
    </div>



{% endblock %}