{% extends "base.html" %}

{% block content %}


<h1>Welcome To the pets Shop</h1>

<h2>Fun Facts about Pets</h2>
<section class="container-fluid p-3 my-3 bg-dark text-white">
    <ul>
        <li> Dogs may pretend to be sick to get more attention from their owners</li>
        <li>Cats sleep for around 70% of their lives which can be up to 16 hours a day.</li>
        <li>Dogs can smell when their owners are afraid thanks to their perspiration.</li>
        <li>A cat’s brain is 90% similar to the human brain.</li>
        <li>A study at UCSD claims that dogs can get jealous when their owners show fondness toward other creatures.</li>
        <li>Happy rabbits like to hop and do a twist in the air...this act is also known as a “binky”.</li>
        <li>Cats can rotate their ears up to 180º.</li>
        <li>Camels have three sets of eyelids and two rows of eyelashes to keep sand out of their eyes.</li>
        <li>Humans and chimpanzees share 95 to 98 percent of the same DNA.</li>
        <li></li>
        <li>Camels have thick lips which let them forage for thorny plants other animals can't eat</li>
        <li></li>
        <li>Chimpanzees and other species, including some types of birds, make and use tools.</li>
        <li>Horses have around 205 bones in their skeleton.</li>
        <li></li>
        <li></li>
        <li>Because horse's eyes are on the side of their head they are capable of seeing nearly 360 degrees at one time.</li>
        <li></li>
    </ul>
</section>

{% endblock %}