{% extends "base.html" %}

{% block content %}


<h1>Welcome To the pets Shop</h1>

<h2>Fun Facts about Pets</h2>
<section class="container-fluid p-3 my-3 bg-dark text-white">
    
        <div> Dogs may pretend to be sick to get more attention from their owners</div>
        <div>Cats sleep for around 70% of their lives which can be up to 16 hours a day.</div>
        <div>Dogs can smell when their owners are afraid thanks to their perspiration.</div>
        <div>A cat’s brain is 90% similar to the human brain.</div>
        <div>A study at UCSD claims that dogs can get jealous when their owners show fondness toward other creatures.</div>
        <div>Happy rabbits like to hop and do a twist in the air...this act is also known as a “binky”.</div>
        <div>Cats can rotate their ears up to 180º.</div>
        <div>Camels have three sets of eyelids and two rows of eyelashes to keep sand out of their eyes.</div>
        <div>Humans and chimpanzees share 95 to 98 percent of the same DNA.</div>
        <div>Camels have thick lips which let them forage for thorny plants other animals can't eat</div>
        <div>Chimpanzees and other species, including some types of birds, make and use tools.</div>
        <div>Horses have around 205 bones in their skeleton.</div>
        <div>Because horse's eyes are on the side of their head they are capable of seeing nearly 360 degrees at one time.</div>

    
</section>

{% endblock %}