{% extends "base.html" %}

{% block content %}







<section class="container-fluid p-3 my-3 bg-dark text-white">
    <div>
        <h2>Add a new to do item</h2>
        <form action="/add" method="POST">
            <input type="text" name="todoitem">
            <input type="submit">
        </form>
    </div>

</section>

<section class="container p-3 my-3 border">
    <h1>To do List</h1>
    <ul style="text-transform: none; text-decoration: none;">
        <li style="font-size: large;"><input type="checkbox">Some text</li>
        <li style="font-size: large;"><input type="checkbox">Some text</li>
        <li style="font-size: large;"><input type="checkbox">Some text</li>
    </ul>


</section>

<section class="container p-3 my-3 bg-dark text-white">
    <div>
        <h2>Title 3</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et quo illum provident.</p>
    </div>
</section>

{% endblock %}