{% extends "base.html" %}

{% block title %}About me{% endblock %}


{% block content%}
{% include 'navbar.html' %}
<div class="center">
    <h1>About me section</h1>
    <p>Alternative text</p>
</div>
<div class="about-me-main-div">
    <div>
        <img style="max-width: 1200px;" src="static/images/about-me.png" alt="about-me">
    </div>
    
    <div class="card mb-3 justify-c" style="max-width: 1200px;">
        <div class="row g-0">
            <div class="col-md-4 img-about-me center">
                <img src="static/images/aa.jpg" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body flex-column">
                <div>
                    <h5 class="card-title about-me-title">Card title</h5>
                </div>
                <div>
                    <p class="card-text">
                        Profesora de yoga, especialista en ayurveda, chef de vocación y ansiosa por nacimiento, 
                        siempre busqué formas de aplacar el bullicio mental y caminar un poco más tranquila.
                        Desde el comienzo supe que mantener mi cuerpo activo era un buen inicio, 
                        pero todas las actividades físicas siempre terminaban por aburrirme. 
                        Hasta que un día de improvisto, me crucé con el yoga.
                    </p> 
                </div>
                <div>
                    <p>

                        Creo que lo más maravilloso que descubrí en estos años practicando y enseñando yoga, 
                        es que aún cuando lleguemos con el único objetivo de mejorar nuestro rendimiento físico,
                        el camino terminará por bifurcarse, mostrándonos saberes más amplios como que no puede haber 
                        equilibrio sin desbalance, ni superación física sin una mejor respiración o dos prácticas que se repitan;
                        porque nuestro cuerpo, al igual que nuestra mente, transita por estados que cambian todo el día, todos los días.
                    </p>
                </div>
                <div>
                    <p>
                        El yoga nos entrega al final del camino una idea muy simple: todo está conectado. Nuestras dolencias 
                        físicas, nuestra manera de respirar, nuestras emociones diarias. Y sólo conociendo en profundidad la manera
                        en que las partes operan en el conjunto seremos acaso capaces de sentirnos más un poco más felices.
                    </p>
                </div>
                <div>
                    <p class="card-text"><small class="text-muted">Kornfeld natalia</small></p>
                </div>
            </div>
            </div>
        </div>
    </div>
    

</div>


<div class="card bg-dark text-white">
    <img src="static/images/about-me3.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Clases a tu medida</h5>
      <ul>
        <li class="card-text">Clases privadas </li>

        <li class="card-text">Clases grupales </li>
        
        <li class="card-text">Escuela virtual</li>
        
        <li class="card-text">Yoga para empresas</li>
        
        <li class="card-text">Nutrición Ayurveda</li>
        
        <li class="card-text">Yoga para embarazadas </li>
      </ul>
      <p class="card-text">Last updated 3 mins ago</p>
      <a class="btn btn-success btn-xs" href="/courses">Courses</a>
    </div>
  </div>

<div>
{% include 'message_form.html' %}
</div>
{% include 'news_form.html'%}
{% endblock %}
