<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset= "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-compatible" content="ie=edge">
        <title>Advanced html</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='mamushka.ico') }}">        
        <link rel="stylesheet" href="/static/style.css">
        
    </head>

    
    <body>
        <header>
            <h1>Kornfeld Gaston</h1>
            <h2>Resume</h2>
        </header>

        <img src="/static/image1.jpg" alt="image1">        
        <section>
            <article>
                <h2>Personal information</h2>
                <p><strong>Date of birth:</strong> 02/12/1988</p>
                <p><strong>Adress: </strong> Hertzel 5, Petah Tikva, Israel</p>
                <p><strong>Hobbies:</strong> Chess, Soccer, read, sports</p>
                <p><strong></strong></p>
            </article>
            <article>
                <h1>Education</h1>
                <p>em ipsum dolor sit amet consectetur adipisicing elit. Alias saepe suscipit exercitationem atque consectetur quod veniam voluptatem harum, ad laudantium asperiores, tenetur ipsam odit omnis praesentium sequi facilis, officiis optio?</p>
            </article>

            <article>
                <h1>Work Experience</h1>
                <ul>
                    <li><strong>Place 1</strong>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam cupiditate dolor iure.</p>
                    </li>
                    <li><strong>Place 2</strong>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam cupiditate dolor iure.</p>
                        </li>
                </ul>
            </article>
            
            
        </section>

        <section>
            <article>
                <h2>Extra Skills</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore rem quia officia?</p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                </ul>
            <article>
                
            
        </section>

        <script src="/static/java.js"></script>
    </body>

</html>
