{% extends "base.html" %}
{% include '/partials/navbar.html' %}
{% block content %}











<h1>Name : {{ user.name }}   Class: {{ user.prof_type }}</h1>
<h2> Status: {{ user.status }}</h2>


<h2> Profile picture </h2>
  <div class="card text-white mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img style="height: 200px; width: 200px;" src="{{ user.image_url }}" alt="{{ user.image_url }}">
      </div>
      <div class="col-md-8">
        <div class="card-body ">
          <h5 class="card-title "> User : {{user.name}}</h5>
          <p class="card-text"></p>
          <p class="card-text "><small></small></p>
        </div>
      </div>
    </div>
  </div>
 

  <div class="card" style="width: 38rem;">
    <div class="card-body">
      <h5 class="card-title"> Username: {{ user.username}} id({{ user.id }}) </h5>
      <h6 class="card-subtitle mb-2 text-muted"> Email {{ user.email }} </h6>
      <p class="card-text"> In this section you can see your favorites cards and friends</p>
      <a href="/deck/{{ user.id }}" class="card-link">Cards</a>
      <a href="#" class="card-link">Friends</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">User stathistics</h5>
      <h6 class="card-subtitle mb-2 text-muted"> points: {{ user.points}} Futucoins:  {{ user.coins }}</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
    </div>
  </div>
  


  User since : {{ (user.date_of_creation) }}
  
  


{% endblock %}