
<!-- 
# ProductId, Category, MainCategory,TaxTarifCode, SupplierName, WeightMeasure
# WeightUnit, Description, Name, ProductPicUrl, Status, Quantity, UoM, CurrencyCode
# Price, Width, Depth, Height, DimUnit -->



{% extends "index.html" %}

{% block body %}
    <h1>This is the list of hour products</h1>
    
    
    {% for product in data %}
        {% set url = "/static/" %}
        {% set imageurl = (product['ProductPicUrl']) %}
        {% set final_url = url + imageurl %}
        
        <img src="{{ final_url }}" alt="product-image" height="100" width="180">
        <h2>PRODUCT: {{product["Name"] }}</h2>
        <p>Description: {{ product["Description"] }}</p>
        <h4>Category: {{ product["Category"] }}</h4>
        <p>Price: {{ product["Price"] }}</p>
        <a href="{{'product/' + (product['ProductId'])}}"><button>Go To The Product</button></a> 
        <a href="{{'/add_to_cart/' + (product['ProductId'])}}"><button style="background-color: salmon;">Add To Cart</button></a>
        <br><br>
       
        
        
    {% endfor %}












{% endblock %}