{% extends "base.html" %}

{% block content %}


<h1>Welcome to my site</h1>


<section class="container-fluid p-3 my-3 bg-dark text-white">
    <div>
        <h2>Title 1</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
             Labore illum rerum corrupti adipisci facere assumenda totam ullam enim 
             quos tempore voluptatibus earum a ipsa eum, reprehenderit magni tenetur 
             consectetur deleniti velit quod quibusdam aliquid ex omnis aliquam. Temporibus est mollitia nesciunt 
            modi suscipit vero distinctio culpa cum tempore magnam eum, sequi beatae possimus cumque ducimus.</p>
    </div>
</section>

<section class="container p-3 my-3 border">
    <div class="pt-3">
        <h2 class="pt-3">Title 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Atque sapiente velit eius deleniti fugit veniam alias, optio harum! Ab sapiente ad ut?</p>
    </div>
</section>

<section class="container p-3 my-3 bg-dark text-white">
    <div>
        <h2>Title 3</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et quo illum provident.</p>
    </div>
</section>

{% endblock %}