{% extends "base.html" %}

{% block content %}


    <div class="content-section">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In </legend>
               
                <div class="form-group">
                    {{ form.name.label(class='form-control-label') }}
                    {% if form.name.errors %}
                        {{ form.name(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class='form-control form-control-lg') }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.city.label(class='form-control-label') }}
                    {% if form.city.errors %}
                        {{ form.city(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.city.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.city(class='form-control form-control-lg') }}
                    {% endif %}
                </div>
            
            </fieldset>
            <div class="form-group">
                {{ form.submit(class='btn btn-outline-info') }}
            </div>
            <small class="text-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small>
        </form>
    </div>
    
{% endblock %}