
body {
    height: 600px;
    background-color: black;
    background-image: url(images/download2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    
}
    

h2 {
    color: blanchedalmond;
}

.flexcont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}



.butt1 {
    background-color: orange;
    border-radius: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    padding: 10px 15px;
}